.logo {
	display: flex;
	align-items: center;
	gap: 0;
	margin-bottom: 30px;

	.left {
		font-weight: 800;
		color: #4880ff;
		font-size: 30px;
	}

	.right {
		font-weight: 800;
		color: #fff;
		font-size: 30px;
	}
}
