.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #273142;
	height: 100vh;
	padding: 36px;

	.logout {
		font-size: 15px;
		color: #fff;
		border: none;
		background: transparent;
		font-weight: 700;
		padding: 15px 78px;
		border-radius: 6px;
		cursor: pointer;
	}
}
