// Сброс стандартных стилей браузера
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

// Переменные
:root {
	--color-bg: #1b2431;
	--color-text: #fff;

	--font-main: 'Nunito Sans', sans-serif;
}

// Глобальные стили
body {
	font-family: var(--font-main);
	background-color: var(--color-bg);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}
